.main{
    width:100%;
    height:110vh;
    background-size:cover;
    background-image: url(.//beauty.webp);
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.btn{
    position:relative;
    padding:20px 50px;
    background:#000;
    color:#fff;
    border:none;
    font-size:18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    cursor:pointer;
    transition:all 0.3s ease;
}