

.planner{
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
     overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
  
}
.image1{
  display: flex;
    position: absolute;
    bottom: -7%;
    left: -17%;
    width: 50%;
    height: 70%;
    object-fit: contain;
    z-index: 1;
    opacity: 1;
    transition:0.4s ease-in-out;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s ease-in-out;
    }
}
.image2{
  display: flex;
  position:absolute;
  padding: 0;
  top:0%;
  right:0%;
  width:28%;
  height:35%;
  object-fit:contain;
  z-index:1;
  opacity:1;
}
.image3{
  display: flex;
  position:absolute;
  padding: 0;
  bottom:5%;
  right:5.3%;
  width:30%;
  height:45%;
  object-fit:contain;
  z-index:1;
  opacity:1;
}
.planner-container{
  
    backdrop-filter: blur(4px);
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:40px 20px 20px 20px;
    height: 50vh;
    width:60vw;
    display: flex;
    opacity: 0.9;
    z-index: 2;
    text-shadow: none;
    transition:0.5s ease-in-out;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.5s ease-in-out;
      transform: scale(1.01);
      transition: 0.6s;
    }
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
}
.input-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;;
    width: 90%;
    padding: 40px;
    margin-bottom: 15px;
    overflow: auto;

}

 .blanks {
  background-color: whitesmoke;
    width: 60%;
    padding: 9px;
    margin-top: 6px;
    border: 2px solid #928f8f;
    border-radius: 6px;
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

  
}
label{
   font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
     font-weight: 500;
    font-style: italic ;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    max-width: 300px;
}

.newsletter-text {
    border: 9px solid black;
    border-radius: 10px;
    border-style: double;
    box-shadow: 20px 200px 50px rgba(0, 0, 0, 0.3);
    padding: 100px;
    margin: 0 auto;
    position: relative;
    max-width: 500px;
    h2 {
      color: Black;
      margin-top: 0px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
    }

  }



.bg {
  background-position: center ;
  padding: 100px 300px;
  height: 100vh;
}

.wrap {
  position: relative;
  

  margin-top: 250px;
  
  
}

.planbutton{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.6s;
    &:hover {
      background-color: #333;
      transition: 0.6s;
      transform: scale(1.1);
    }
}

.icons-container {
  display: flex;
  justify-content: center;
    align-items: center;
  gap: 80px;
  margin-bottom: -70px;
  width:40vw;
  height: 15vh;
  border-color: black;
  border-width: 3px;
  border-radius: 40px;
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.item2 {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    transform: scale(1.1);
    transition:transform 0.4s;
    border-width: 2px;
    border-color: black;
  }
}
input[type="text"], input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 26px;
    color: black;

}
