.planner{
    width:100%;
    height:110vh;
    background-size:cover;
    background-image: url(.//gt.jpg);
    background-position:center;
      background-repeat: no-repeat;
 
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
  
}
.newsletter-text {
    border: 9px solid black;
    border-radius: 10px;
    border-style: double;
    box-shadow: 20px 200px 50px rgba(0, 0, 0, 0.3);
    padding: 100px;
    margin: 0 auto;
    position: relative;
    max-width: 500px;
    h2 {
      color: Black;
      margin-top: 0px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
    }

  }



.bg {
  background-position: center ;
  padding: 100px 300px;
  height: 100vh;
}

.wrap {
  position: relative;
  

  margin-top: 250px;
  
  
}
